# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Agent Workspace
.gemini/
docs/
server/
clients

